.view {
    background: url("https://cdn.pixabay.com/photo/2014/05/03/01/03/macbook-336704_960_720.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(62, 69, 81, 0.95)  ;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(62, 69, 81, 0.95) ;
    }
}

html,
body,
header,
.view {
height: 100%;
}